
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.active-row {
  background-color: green;
}

.active {
  background-color: green;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
